extends layout

block content

    .row
        .col-md-6.center-block.offset-md-3
            .card.text-center
                .card-header
                    | Log in with Blockchain
                .card-body
                    h5.card-title #{id} will receive: your profile
                    p.card-text scope: #{scope}
                    form.confirm-form(action='#' method='post')
                        input.btn.btn-success.btn-lg.btn-block.mt-4(type='submit' value='Continue as XXX')

    script.
        $(function() {
            let uri = "#{uri}";
            $(".confirm-form").attr("action", "/users/confirmAuth?redirect_uri=" + uri);
        });

