extends layout

block content
    if (info)
        if (info === "Create successfully.")
            div.alert.alert-primary #{info}
        else
            div.alert.alert-danger #{info}

    if (createInfo)
        div.alert.alert-primary #{createInfo}
    .row
        .col-md-6.center-block.offset-md-3
            .card.text-center
                .card-header(style="font-size: 1.5rem; font-weight:bold")
                    | 登入系統
                .card-body
                    h5.card-title 
                    form(action='/users/login' method='post')
                        .input-group
                            //- .input-group-prepend
                            //-     span.input-group-text(id='') 使用者名稱
                            input.form-control(type='text' name='username' placeholder="使用者名稱" required="required")
                        .input-group.mt-3
                            //- .input-group-prepend
                            //-     span.input-group-text(id='') 密碼
                            input.form-control(type='password' name='password' placeholder="密碼" data-toggle="password" required="required")
                        input.btn.btn-primary.btn-lg.btn-block.mt-3(type='submit' value='登入')
                        p.mt-2.text-left 還沒有帳戶？ <a href="#" data-toggle='modal' data-target='#registerModal'>立即註冊</a>
                        p 或是
                        button.btn.btn-outline-info.btn-lg.btn-block.loadInfo(type='button' data-toggle='modal' data-target='#confirmModal') 使用 Ethereum 帳戶登入
                        button.btn.btn-outline-success.btn-lg.btn-block(type='button' onclick="javascript:location.href='/metamask-connect'") Metamask Test Page

    // Register Modal
    #registerModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .card.text-center
                    .card-header(style="font-size: 1.5rem; font-weight:bold")
                        | 註冊
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                .card-body
                    h5.card-title 
                    form(action='/users/register' method='post')
                        .input-group
                            .input-group-prepend
                                span.input-group-text(id='') 使用者名稱
                            input.form-control(type='text' name='username' placeholder="Username" required="required")
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 密碼
                            input.form-control(type='password' name='password' placeholder="Password" required="required")
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 密碼確認
                            input.form-control(type='password' name='confirmPassword' placeholder="Confirm password" required="required")
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 電子郵件
                            input.form-control(type='email' name='email' placeholder="Email" required="required")
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 行動電話
                            input.form-control(type='tel' name='phone' placeholder="Phone number" required="required")
                        .input-group.mt-3
                            .input-group-prepend
                                span.input-group-text(id='') 身份證字號
                            input.form-control(type='text' name='id' placeholder="Identification card number")
                        input.btn.btn-success.btn-lg.btn-block.mt-4(type='submit' value='註冊')
    
    // Confirm Dialog
    #confirmModal.modal.fade(tabindex='-1' role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title 系統訊息
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p 是否使用該帳戶登入?
                    p 目前帳戶(Address)
                    p.address.text-uppercase.font-weight-bold.text-center ...
                .modal-footer
                    button.btn.btn-primary.loginWithMetamask(type='button') 繼續
                    button.btn.btn-secondary(type='button' data-dismiss='modal') 關閉

    script. 
        $(function() {
            const emptyAddress = "0x0000000000000000000000000000000000000000000000000000000000000000";
            let contract_address = "#{address}";
            let account = "";

            $(".modal").on("hidden.bs.modal", function() {
                $(this).find('form').trigger('reset');
            });

            window.ethereum.on('accountsChanged', function(accounts) {
                account = accounts[0];
                $("#confirmModal").find('.modal-body .address').text(account);                
            });

            $(".loadInfo").on("click", function(e) {
                $.getScript("/javascripts/web3_bundle.js", function(data, textStatus, jqxhr) {                        
                    web3.eth.getAccounts().then((accounts) => {
                        account = accounts[0];
                        $("#confirmModal").find('.modal-body .address').text(account);
                    });
                });                
            });

            $(".loginWithMetamask").on('click', function(e) {
                $.getScript( "/javascripts/web3_bundle.js", async function(data, textStatus, jqxhr) {
                    $.getJSON('metamask-connect/org.json', function (data) {
                        console.log(data);
                        let contractInstance = new web3.eth.Contract(data.abi, contract_address);
                        contractInstance.methods.getId().call({from: account})
                        .then( (result) => {
                            if (result === emptyAddress)
                                return Promise.reject("該帳戶尚未進行綁定！");
                            else {
                                // Sign the identity and then send to server
                                return Promise.resolve(result);
                            }
                        })
                        .then( (result) => {
                            web3.eth.personal.sign(result, account).then((res) => {
                                $.ajax({
                                    url: '/users/loginWithMetamask',
                                    data: { 
                                        identity: result, // identity
                                        signature: res,   // signature
                                        account: account  // account
                                    },
                                    type: 'post',
                                    success: function(res) {
                                        console.log("success");
                                        window.location.replace("/profile");
                                    },
                                    error: function(err) {
                                        console.log("error");
                                        alert();
                                    }
                                });

                            });
                        })
                        .catch( (err) => {
                            alert(err);
                        });                
                    });
                });

        
        
            });
        });
