extends layout

block content

    .row
        .col-md-8.offset-md-2.col-sm-12
            .card
                .card-header
                    h4.font-weight-bold(style="margin:0;") #{title}

                .card-body
                    p.version
                    p.account
            
    br

    .row
        .col-md-8.offset-md-2.col-sm-12
            .card
                .card-header
                    h4.font-weight-bold(style="margin:0;") Functions
                .card-body
                    .input-group.mb-3
                        input.func1-input0.form-control(type='text' placeholder="Enter org index" aria-label="Parameter" aria-describedby='basic-addon2')
                        .input-group-append
                            button.func1.btn.btn-primary(type='button') getOrg(onlyOrg)
                    
                    .input-group.mb-3
                        input.func2-input0.form-control(type='text' placeholder="Enter unique id" aria-label="Parameter" aria-describedby='basic-addon2')
                        .input-group-append
                            button.func2.btn.btn-secondary(type='button') addUser(onlyOrg)

                    .input-group.mb-3
                        input.func3-input0.form-control(type='text' placeholder="Enter unique id" aria-label="Parameter" aria-describedby='basic-addon2')
                        .input-group-append
                            button.func3.btn.btn-info(type='button') getId  

                    .input-group.mb-3
                        input.func4-input0.form-control(type='text' placeholder="Enter unique id" aria-label="Parameter" aria-describedby='basic-addon2' required="required")
                        input.func4-input1.form-control(type='text' placeholder="Enter ethereum address" aria-label="Parameter" aria-describedby='basic-addon2' required="required")
                        .input-group-append
                            button.func4.btn.btn-success(type='button') bindAccount(onlyOrg)

                    button.btn.btn-block.btn-warning.check-log(type='button') Stop log        

    br
    
    .row
        .col-md-8.offset-md-2.col-sm-12
            .card
                .card-header
                    h4.font-weight-bold(style="margin:0;") Logs
                .card-body
                    ul.list-group.list-group-flush#log-list


    script. 
        $(function() {
            // for web3_bundle.js
            $.getScript( "/javascripts/web3_bundle.js", function(data, textStatus, jqxhr) {
                if (typeof(web3) !== "undefined") {
                    
                    let account = web3.eth.accounts[0];
                    console.log("current address:", web3.eth.accounts);
                    $(".version").html("API vesion: " + web3.version.api);
                    $(".account").html("Account:" + account);
                    $(".func4-input1").val(account);
                    let contract_address = "#{address}";
                    console.log("contract address:", contract_address);
                    
                    // TODO: call contract function

                    $(".func1").on("click", function(e) {
                        // get abi of contract
                        $.getJSON('metamask-connect/org.json', function (data) {
                            let myContract = web3.eth.contract(data.abi);
                            let contractInstance = myContract.at(contract_address);
                            let input_0 = $(".func1-input0").val();
                            contractInstance.getOrg(input_0, (err, res) => {
                                if (err) {
                                    console.log(err);
                                    alert(err.data.message);
                                }
                                else {
                                    alert(res);
                                    console.log(res);
                                }
                            });                        
                        });
                    });

                    $(".func2").on("click", function(e) {
                        let input_0 = $(".func2-input0").val();
                        $.ajax({
                            url: 'metamask-connect/addUser',
                            data: { uid: input_0},
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            success: function(res) {
                                alert(res.msg);
                            },
                            error: function(err) {
                                alert(err);
                            }
                        });
                    });

                    $(".func3").on("click", function(e) {
                        $.getJSON('metamask-connect/org.json', function (data) {
                            let myContract = web3.eth.contract(data.abi);
                            let contractInstance = myContract.at(contract_address);
                            let input_0 = $(".func3-input0").val();
                            contractInstance.getId(input_0, (err, res) => {
                                if (err) {
                                    console.log(err);
                                    alert(err.data.message);
                                }
                                else {
                                    alert(res);
                                    console.log(res);
                                }
                            });                        
                        });
                    });

                    $(".func4").on("click", function(e) {
                        let input_0 = $(".func4-input0").val();
                        let input_1 = $(".func4-input1").val();
                        $.ajax({
                            url: 'metamask-connect/bindAccount',
                            data: { uid: input_0, address: input_1},
                            type: 'post',
                            cache: false,
                            dataType: 'json',
                            success: function(res) {
                                alert(res.msg);
                            },
                            error: function(err) {
                                alert(err);
                            }
                        });
                    });

                    $(".check-log").on("click", async function(e) {
                        clearInterval(refreshIntervalId);
                        //- let options = {
                        //-     "fromBlock": "0",
                        //-     "toBlock": "latest",
                        //-     "address": contract_address
                        //- }
                        
                        
                        //- await filterGet.get(function(error, result) {
                        //-     $("#log-list li").remove();
                        //-     if (error) {
                        //-         alert("listen error");
                        //-     }
                        //-     else {
                        //-         alert("listen success");
                        //-         console.log(result);
                        //-         for (let i = 0; i < result.length; i++) {
                        //-             console.log(result[i].data);
                        //-             $("#log-list").append('<li class="list-group-item">'+result[i].data+'</li>')
                        //-         }
                        //-     }
                        //- });
                    });

                    let options = {
                        "fromBlock": "0",
                        "toBlock": "latest",
                        "address": contract_address
                    }
                    let filterGet = web3.eth.filter(options);
                    var refreshIntervalId = setInterval(async function () {
                        await filterGet.get(function(error, result) {
                            $("#log-list li").remove();
                            if (error) {
                                alert("listen error");
                            }
                            else {
                                console.log("listen success");
                                for (let i = 0; i < result.length; i++) {
                                    $("#log-list").append('<li class="list-group-item">'+result[i].data+'</li>')
                                }
                            }
                        });
                    }, 1000);
                }
            });
        });